server:
  port: 10001

spring:
  config:
    import: optional:file:.env[.properties]
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    enabled: true
    check-template-location: true
    cache: false

  datasource:
    url: jdbc:postgresql://aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres #supabase postgresql
    driver-class-name: org.postgresql.Driver	#driver
    username: ${DB_USERNAME}					#.env username
    password: ${DB_PASSWORD}                    #.env password
  jpa:
    defer-datasource-initialization: true    #hibernate 초기화 지연
    hibernate:
      ddl-auto: none                        #ddl 옵션: 아무것도 안함
    show-sql: true
  h2:
    console: #h2-console
      enabled: true
      path: /h2-console                        #h2-console url 설정
  sql:
    init: # application 실행시 sql 실행
      username: sa
      password: sa
      schema-locations: classpath*:db/schema.sql
      data-locations: classpath*:db/data.sql

springdoc:
  version: '@project.version@'
  api-docs:
    path: /api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    operations-sorter: alpha
    tags-sorter: alpha
    path: /swagger-ui.html
    disable-swagger-default-url: true
    display-query-params-without-oauth2: true
    doc-expansion: none
  paths-to-match:
    - /api/**